@{
}
@model TemplateWizardStepView

<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create a Template <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <fieldset>
            <legend>
                Template
            </legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Template Name <span class="symbol required"></span> </label>
                        <input type="text" placeholder="Enter Template Name" class="form-control" name="TemplateName" asp-for="Name" style="width:100%" id="txtTemplateName" />
                        <input type="hidden" value="@Model.Template_Id" id="hdnTemplateId" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="TextBoxesGroup">
            <legend>
                Subject(s)
            </legend>
            <div class="row">
                <div class="col-md-12" align="right">
                    <span class="btn btn-o btn-Toolbar btn-success" id="btnstep2AddSubj"> <i class="fa fa-plus-square"></i> <b>Add Subject</b></span>
                </div>
            </div>
            <hr class="hr-flat" />
            <div class="dd" id="nestable">
                <ol class="dd-list">
                    @foreach (SubjectWizardStepView item in Model.Subjects)
                    {
                        <li class="dd-item" data-id="@item.SequenceNo">
                            <div class="row">
                                <div class="col-md-1 dd-handle">
                                    <i class="fa fa-sort"></i>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Subject Name <span class="symbol required"></span> </label>
                                                <input id="txtSubject_@item.SequenceNo" type="text" placeholder="Enter Subject Title" class="form-control txtSubject" value="@item.Name" />
                                                <span class="has-error-H">Subject Name is required, minimum 3 characters</span>
                                                <input type="hidden" value="@item.Subject_Id" id="hdnSubjectId_@item.SequenceNo" class="hidenSubId" />
                                            </div>
                                            @*Store the Sequence and Seq Ref*@
                                            <input type="hidden" value="@item.SequenceNo" id="hdnSequenceNo_@item.SequenceNo" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 s-stepElm">
                                            <div class="checkbox clip-check check-primary">
                                                <input id="chkMandatory_@item.SequenceNo" type="checkbox" checked="checked" asp-for="@item.IsMandatory">
                                                <label for="chkMandatory_@item.SequenceNo"> <b>Is Mandatory</b> </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 s-stepElm" style="text-align:right; padding-right:0;">
                                            <b> Due Date:</b>
                                        </div>
                                        <div class="col-md-8 s-stepElm" style="text-align:left; padding-left:5px; padding-top: 0;">
                                            <input class="datepickerElm" style="width: 100%" asp-for="@item.DueDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <h2 onclick="removeSubject(this);" class="btn btn-o btn-Toolbar btn-danger"> <i class="fa fa-trash"></i></h2>
                                </div>
                            </div>
                            <hr class="hr-flat" />
                        </li>
                    }
                </ol>
            </div>

        </fieldset>
    </div>
</div>

<!-- start: Template Area  -->
<script id="subjects-template" type="text/x-kendo-template">
    <li class="dd-item" data-id="#= SequenceNo #">
        <div class="row">
            <div class="col-md-1 dd-handle">
                <i class="fa fa-sort"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Subject Name <span class="symbol required"></span> </label>
                            <input id="txtSubject_#= SequenceNo #" type="text" placeholder="Enter Subject Title" class="form-control txtSubject ali" value="#= Name #" />
                            <span class="has-error-H">Subject Name is required, minimum 3 characters</span>
                            <input type="hidden" value="#= Subject_Id #" id="hdnSubjectId_#= SequenceNo #" class="hidenSubId" />
                        </div>
                        <input type="hidden" value="#= SequenceNo #" id="hdnSequenceNo_#= SequenceNo #" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 s-stepElm">
                        <div class="checkbox clip-check check-primary">
                            <input id="chkMandatory_#= SequenceNo #" type="checkbox" checked="checked" asp-for="#= IsMandatory #">
                            <label for="chkMandatory_#= SequenceNo #"> <b>Is Mandatory</b> </label>
                        </div>
                    </div>
                    <div class="col-md-2 s-stepElm" style="text-align:right; padding-right:0;">
                        <b> Due Date:</b>
                    </div>
                    <div class="col-md-8 s-stepElm" style="text-align:left; padding-left:5px; padding-top: 0;">
                        <input class="datepickerElmNew" style="width: 100%" asp-for="#= DueDate #" />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <h2 onclick="removeSubject(this);" class="btn btn-o btn-Toolbar btn-danger"> <i class="fa fa-trash"></i></h2>
            </div>
        </div>
        <hr class="hr-flat" />
    </li>
</script>
<!-- end: Template Area -->
