@{
}
@model TemplateWizardStepView

<div class="row">
    <div class="col-md-3">
        <div class="padding-30">
            <h2 class="StepTitle">Create a Template <span class="text-large block">to manage everything you do with your project subjects and millstones</span></h2>
            <p>
                Through this template you can control your project gaining benefits including:
            </p>
            <p class="text-small">
                <ul class="no-margin">
                    <li>
                        Access to exclusive releases and limited products.
                    </li>
                    <li>
                        ng-Clip services, benefits and promotions.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <fieldset>
            <legend>
                Template
            </legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Template Name <span class="symbol required"></span> </label>
                        <input type="text" placeholder="Enter Template Name" class="form-control" name="TemplateName" asp-for="Name" style="width:100%" id="txtTemplateName" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="TextBoxesGroup">
            <legend>
                Subject(s)
            </legend>

            <div class="dd" id="nestable">
                <ol class="dd-list">
                    @foreach (SubjectWizardStepView item in Model.Subjects)
                    {
                        <li class="dd-item" data-id="@item.SequenceNo">
                            <div class="row">
                                <div class="col-md-1 dd-handle">
                                    <i class="fa fa-sort"></i>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Subject Name <span class="symbol required"></span> </label>
                                                <input id="txtSubject_@item.SequenceNo" type="text" placeholder="Enter Subject Title" class="form-control txtSubject" value="@item.Name" />
                                                <span class="has-error-H">Subject Name is required, minimum 3 characters</span>
                                            </div>
                                            <input type="hidden" value="@item.SequenceNo" id="hdnSequenceNo_@item.SequenceNo" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 s-stepElm">
                                            <div class="checkbox clip-check check-primary">
                                                <input id="chkMandatory_@item.SequenceNo" type="checkbox" checked="checked" asp-for="@item.IsMandatory">
                                                <label for="chkMandatory_@item.SequenceNo"> <b>Is Mandatory</b> </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 s-stepElm" style="text-align:right; padding-right:0;">
                                            <b> Due Date:</b>
                                        </div>
                                        <div class="col-md-8 s-stepElm" style="text-align:left; padding-left:5px; padding-top: 0;">
                                            <input class="datepickerElm" style="width: 100%" asp-for="@item.DueDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <h2 onclick="removeSubject(this);" class="btn btn-o btn-Toolbar btn-danger"> <i class="fa fa-trash"></i></h2>
                                </div>
                            </div>
                            <hr class="hr-flat" />
                        </li>
                    }
                </ol>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="btn btn-o btn-Toolbar btn-success" id="btnstep2AddSubj"> <i class="fa fa-plus-square"></i> <b>Add Subject</b></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- start: Template Area  -->
<script id="subjects-template" type="text/x-kendo-template">
    <li class="dd-item" data-id="#= SequenceNo #">
        <div class="row">
            <div class="col-md-1 dd-handle">
                <i class="fa fa-sort"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Subject Name <span class="symbol required"></span> </label>
                            <input id="txtSubject_#= SequenceNo #" type="text" placeholder="Enter Subject Title" class="form-control txtSubject" value="#= Name #" />
                            <span class="has-error-H">Subject Name is required, minimum 3 characters</span>
                        </div>
                        <input type="hidden" value="#= SequenceNo #" id="hdnSequenceNo_#= SequenceNo #" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 s-stepElm">
                        <div class="checkbox clip-check check-primary">
                            <input id="chkMandatory_#= SequenceNo #" type="checkbox" checked="checked" asp-for="#= IsMandatory #">
                            <label for="chkMandatory_#= SequenceNo #"> <b>Is Mandatory</b> </label>
                        </div>
                    </div>
                    <div class="col-md-2 s-stepElm" style="text-align:right; padding-right:0;">
                        <b> Due Date:</b>
                    </div>
                    <div class="col-md-8 s-stepElm" style="text-align:left; padding-left:5px; padding-top: 0;">
                        <input class="datepickerElmNew" style="width: 100%" asp-for="#= DueDate #" />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <h2 onclick="removeSubject(this);" class="btn btn-o btn-Toolbar btn-danger"> <i class="fa fa-trash"></i></h2>
            </div>
        </div>
        <hr class="hr-flat" />
    </li>
</script>
<!-- end: Template Area -->

<script type="text/javascript">
    function validateForm() {
        var valElm = null;
        var isValidForm = true;

        //Murad :: TODO fix this referance
        if ($(".txtSubject").length < 1) {
            alert("At least one subject is required");
            return false;
        }

        $(".txtSubject").each(function (index) {
            valElm = $(this);
            if (valElm.val().trim() == "" || $.trim(valElm.val()).length < 3) {
                isValidForm = isValidForm && false;
                valElm.closest(".form-group").addClass("has-error");
                valElm.closest(".form-group").find(".has-error-H").addClass("has-error-S");
            } else {
                isValidForm = isValidForm && true;
                valElm.closest(".form-group").removeClass("has-error").addClass("has-success");
                valElm.closest(".form-group").find(".has-error-H").removeClass("has-error-S");
            }
        });
        return isValidForm;
    }


    function SaveTemplateWizardStep() {
        if (!validateForm())
            return false;

        var pData = CollectTempStepInfo();
        $.ajax({
            url: "/Project/SaveTemplateWizardStep",
            success: function (result) {
                UINotifications.ShowToast("success", "Your Projet [ " + pData.Name + " ] Saved Successfuly.", "Saved Successfuly");
            },
            cache: false,
            error: function (xhr, status, error) {
                UINotifications.ShowToast("error", "Error Message: [ " + error + " ]", "Save Faild");
            },
            type: "POST",
            data: JSON.stringify(pData),
            contentType: "application/json"
        });

        return true;

    }

    function CollectTempStepInfo() {
        var subjElm = null;
        var seqNo = 0;
        var chkMandatory = null;
        var dueDate = null;

        var templateWizardStepView = {};
        templateWizardStepView.Template_Id = 0;
        templateWizardStepView.Project_Id = 0;
        templateWizardStepView.Name = $("#txtTemplateName").val();
        templateWizardStepView.Subjects = [];

        $(".txtSubject").each(function (index) {
            subjElm = $(this);
            seqNo = subjElm.attr("id").split("_")[1];
            //$("[id^=chkMandatory]").
            chkMandatory = $("#chkMandatory_" + seqNo);
            dueDate = subjElm.parentsUntil(".dd-item");
            dueDate = $(dueDate[dueDate.length - 1]).find(".datepickerElm");

            templateWizardStepView.Subjects[index] = {};
            templateWizardStepView.Subjects[index].Template_Id = 0;
            templateWizardStepView.Subjects[index].Subject_Id = 0;
            templateWizardStepView.Subjects[index].Name = subjElm.val();
            templateWizardStepView.Subjects[index].DueDate = $(dueDate[1]).val();
            templateWizardStepView.Subjects[index].IsMandatory = chkMandatory.is(':checked');
            templateWizardStepView.Subjects[index].SequenceNo = $("#hdnSequenceNo_" + seqNo).val();
        });

        return templateWizardStepView;
    }

    function GetDefualtSubjectWizardStepView(maxSeq) {
        var subjectWizardStepView = {};
        subjectWizardStepView.Template_Id = "";
        subjectWizardStepView.Subject_Id = 0;
        subjectWizardStepView.Name = "";
        subjectWizardStepView.IsMandatory = true;
        subjectWizardStepView.SequenceNo = maxSeq;
        subjectWizardStepView.DueDate = null;

        return subjectWizardStepView;
    }

    function removeSubject(ctrl) {
        if (window.confirm("Are you sure you want to delete this subject ?"))
            $(ctrl).closest('.dd-item').detach();
    }

    function bindDatePicker(isNew) {
        if (isNew == false)
            $(".datepickerElm").kendoDatePicker({ format: "dd-MMMM-yyyy" });
        else {
            $(".datepickerElmNew").kendoDatePicker({ format: "dd-MMMM-yyyy" });
            $(".datepickerElmNew").removeClass("datepickerElmNew").addClass("datepickerElm");
        }
    }

    $(document).ready(function () {
        bindDatePicker(false);

        $("#btnstep2AddSubj").click(function () {
            //Calculate Max Seq
            var maxSeq = 0;
            var subSeq = 0;
            var x = $(".dd-item input[type=checkbox]").each(function (index) {
                subSeq = $(this).attr('id').split("_")[1];
                if (maxSeq < subSeq)
                    maxSeq = parseInt(subSeq);
            });
            maxSeq += 1;

            //Get JSON Defualt Object
            var subObj = GetDefualtSubjectWizardStepView(maxSeq);

            //bind JSON to template
            var scriptTemplate = kendo.template($("#subjects-template").html());
            $(".dd-list").append(scriptTemplate(subObj));

            //Bind DataPiacker
            bindDatePicker(true);

        });

        $(".txtSubject").focusout(function () {
            //$(".txtSubject").each(function (index) {
            //    valElm = $(this);
            //    if (valElm.val().trim() == "" || valElm.val().trim().length <= 3) {
            //        valElm.closest(".form-group").addClass("has-error");
            //        valElm.closest(".form-group").find(".has-error-H").addClass("has-error-S");
            //    } else {
            //        valElm.closest(".form-group").removeClass("has-error").addClass("has-success");
            //        valElm.closest(".form-group").find(".has-error-H").removeClass("has-error-S");
            //    }
            //});
        })

    });

</script>